<h1>Meal Details</h1>

<p><strong>Date:</strong> <%= @daily_meal_record.date %></p>
<p><strong>Snack:</strong> <%= @daily_meal_record.snack %></p>
<p><strong>Dinner:</strong> <%= @daily_meal_record.dinner %></p>
<p><strong>Chapati Count:</strong> <%= @daily_meal_record.chapati_count %></p>
  